﻿@model test0505.BMIData

<h2>BMI Calculate</h2>

<form action="@Url.Action("Index")" method="post">
    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height)CM
    @Html.ValidationMessageFor(modelItem => @Model.Height)<br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)KG
    @Html.ValidationMessageFor(modelItem => @Model.Weight)<br />
    <p><input type="submit" name="" value="send" /></p>

    <p>結果:@Model.Result</p>
    <p>等級:@Model.Level</p>
</form>