﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>HtmlHelper</h2>

<p>姓名:@Html.TextBox("name", "jade")</p><br />
<p>帳號:@Html.TextBox("email", "test@gmail.com")</p><br />
<p>密碼:@Html.Password("password", "123456")</p><br />

<p>
    性別:@Html.RadioButton("sex", "0") 男性
    @Html.RadioButton("sex", "1") 女性
</p>

<p>
    興趣:@Html.CheckBox("hobby", false) 游泳
         @Html.CheckBox("hobby", false)閱讀
         @Html.CheckBox("hobby", false)看電影
</p>

<p>
    自我介紹:
    @Html.TextArea("myself", "自我介紹")
</p>