﻿
@{
    ViewBag.Title = "Html";
}

<h2>練習</h2>

<p>姓名:<input type="text" name="name" /></p><br />
<p>帳號:<input type="text" name="name2" /></p><br />
<p>密碼:<input type="password" name="password1" /></p><br />
<p>
    性別:<input type="radio" name="gender" value="A" />男性
        <input type="radio" name="gender" value="B" />女性
    </p>
<p>
    興趣:<input type="checkbox" name="item-1" value="A" />游泳
    <input type="checkbox" name="item-2" value="B" />閱讀
    <input type="checkbox" name="item-3" value="C" />看電影
</p>
<p>
    <label for="test">自我介紹:</label>
    <textarea id="test" rows="4" cols="50"> </textarea>
</p>