﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

<h3>Exp 1</h3>
@{
    var success = true;
}

@if (success)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}

<h3>Exp 2</h3>
@for (int i = 1; i <= 10; i++)
{
<p>i @i</p>
}

<h3>Exp 3</h3>
@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
    @foreach (var item in fruits)
    {
        <li>@item</li>
    }
</ol>
